body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar Style */
.navbar {
  border: 5px outset yellow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navcon {
    border: 5px outset blue;
    width: 1000px;
    margin: auto;
}

/* Color of text */
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  width: 1000px;
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;

}

.container2 {
  height: 500px;
  position: relative;
  border: 3px solid green;
}

